.header {
  font-family: "Roboto Slab", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding-left: 104px;
  padding-right: 104px;
  margin: 0;
  border-bottom: 2px solid;
  border-color: rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  /* background: transparent; */
}

.header__menu-mobile-view-button {
  display: none;
}

.header__saved-news {
  border-color: #d1d2d6;
}

.header__logo {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: black;
  text-decoration: none;
}

.header__home {
  color: white;
}

.header__home-saved-news {
  color: #b6bcbf;
}

/* .header__saved-news {
  color: black;
} */

.header__buttons {
  display: flex;
  gap: 60px;
}

.header__button {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  background-color: transparent;
  opacity: 1;
  margin: 0;
  padding: 0;
  /* color: white; */
}

.header__button:hover {
  cursor: pointer;
}

.header__button-home {
  border: none;
}

.header__button-container {
  position: relative;
  min-height: 48px;
  display: flex;
}

.header__button-home-highliter {
  max-width: 68px;
  height: 3px;
  background-color: white;
  position: absolute;
  bottom: -8px;
  right: -10px;
}

.header__button-saved-news-highliter {
  max-width: 178px;
  background-color: black;
  right: -33px;
}

.header__signin {
  border-radius: 100px;
  width: 176px;
  height: 48px;
  border: 1px solid;
  /* border-color: white; */
}

.header__link {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
  .header__buttons {
    gap: 20px;
  }
}

@media screen and (max-width: 320px) {
  .header__buttons {
    display: none;
  }
  .header__menu-mobile-view {
    display: inline;
  }
  .header__menu-mobile-view-button {
    width: 24px;
    height: 24px;
    background-color: transparent;
    padding: 0px;
    border-width: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  /* .header__menu-mobile-view-button-container {
    display: flex;
  } */
  .header__menu-mobile-view-button-design {
    width: 17px;
    height: 3.5px;
    background-color: white;
  }
}
