.footer {
  padding-left: 104px;
  padding-right: 104px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 26px;
}

.footer__trademark {
  font-family: "Roboto Slab", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: #b6bcbf;
  margin: 0px;
}

.footer__icons-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
}

.footer__icons {
  display: flex;
  gap: 26px;
}

.footer__links {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.footer__link {
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 768px) {
  .footer {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    display: flex;
    flex-direction: column-reverse;
    padding: 0px;
    gap: 36px;
  }
  .footer__trademark {
    margin: 0px;
    padding-bottom: 20px;
  }
  .footer__icons-links {
    width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer__links {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .footer__icons {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 20px;
  }
}
