.cardList {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f5f6f7;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardList__content {
  max-width: 1280px;
}

.cardList__title {
  margin: 0;
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  padding-bottom: 64px;
}

.cardList__error {
  color: #b6bcbf;
}

.cardList__container {
  padding-bottom: 64px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.cardList__container-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardList__more-button {
  font-family: "Roboto", serif;
  width: 288px;
  height: 64px;
  background-color: #fff;
  border-radius: 50px;
  border: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.cardList__more-button:hover {
  cursor: pointer;
  background-color: #e8e8e8;
}

@media screen and (max-width: 900px) {
  .cardList__container {
    gap: 8px;
    padding-bottom: 32px;
  }
  .cardList {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .cardList__more-button {
    width: 240px;
    height: 56px;
  }
  .cardList__title {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 470px) {
  .cardList {
    padding-top: 32px;
    padding-bottom: 24px;
    padding-right: 16px;
    padding-left: 16px;
  }
  .cardList__title {
    font-size: 30px;
    line-height: 34px;
    padding-bottom: 58px;
  }
  .cardList__container {
    gap: 10px;
    display: flex;
    justify-content: center;
    padding-bottom: 21px;
  }
  .cardList__more-button {
    width: 288px;
  }
}
